In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#page = driver.get("https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa")

page_url = 'https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa'
page = requests.get(page_url)

In [3]:
content = page.content
soup = BeautifulSoup(content, features='html.parser')

span =soup.find_all('span')
print(len(span))

263

In [4]:
spans = soup.find_all("span", class_="css-rmqm02 eclomwz0")
addreses = soup.find_all("span", class_="css-17o293g es62z2j9")
spans[:4]

[<span class="css-rmqm02 eclomwz0">549 000 zł</span>,
 <span class="css-rmqm02 eclomwz0"><strong>10 578 zł/m²</strong></span>,
 <span class="css-rmqm02 eclomwz0">3 pokoje</span>,
 <span class="css-rmqm02 eclomwz0">51.9 m²</span>]

In [11]:
addreses

[<span class="css-17o293g es62z2j9">Warszawa, Ochota</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ochota, ul. Józefa Siemieńskiego</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Sokołowska 9</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Muranów, Stawki</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Ulrychów, Redutowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Żoliborz, Ludwika Rydygiera</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Konstancińska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Sielce, Sułkowicka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Żoliborz, Stary Żoliborz, WSM Kolonia VI</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Kołacińska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bemowo, ul. Wieśniacza</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bemowo, ul. Wieśniacza</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bemowo, ul. Wieśniacza</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście, Wspólna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Włochy, Astronautów</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, Żerań, Marywilska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, Tarchomin, Atutowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, Tarchomin, ul. Klasyków</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursus, Edwarda Habicha 14</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście, Śródmieście Południowe, Aleje Ujazdowskie</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Ceramiczna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Ceramiczna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bielany, Stare Bielany</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Domaniewska 47</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ochota, Władysława Korotyńskiego</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów, Sarmacka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Gumińska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Balladyny</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Obozowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Ceramiczna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście, Śródmieście Południowe, Złota</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Dolny Mokotów, ul. Zwierzyniecka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursus, ul. Magnacka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Praga-Północ, Nowa Praga, Szwedzka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, Roalda Amundsena</span>]

In [12]:
spans[3:9]

[<span class="css-rmqm02 eclomwz0">136 m²</span>,
 <span class="css-rmqm02 eclomwz0">360 000 zł</span>,
 <span class="css-rmqm02 eclomwz0"><strong>13 333 zł/m²</strong></span>,
 <span class="css-rmqm02 eclomwz0">1 pokój</span>,
 <span class="css-rmqm02 eclomwz0">27 m²</span>,
 <span class="css-rmqm02 eclomwz0">850 000 zł</span>]

In [5]:
price = spans[::4]
rooms = spans[2::4]
space = spans[3::4]

In [14]:
for p in price:
    print(str(p))

<span class="css-rmqm02 eclomwz0">2 799 000 zł</span>
<span class="css-rmqm02 eclomwz0">360 000 zł</span>
<span class="css-rmqm02 eclomwz0">850 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 349 000 zł</span>
<span class="css-rmqm02 eclomwz0">499 900 zł</span>
<span class="css-rmqm02 eclomwz0">1 087 210 zł</span>
<span class="css-rmqm02 eclomwz0">335 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 645 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 134 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 253 400 zł</span>
<span class="css-rmqm02 eclomwz0">1 639 100 zł</span>
<span class="css-rmqm02 eclomwz0">2 144 700 zł</span>
<span class="css-rmqm02 eclomwz0">995 000 zł</span>
<span class="css-rmqm02 eclomwz0">300 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">1 050 000 zł</span>
<span class="css-rmqm02 eclomwz0">755 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 060 000 zł</span>
<span class="css-rmqm02 eclomwz0">459 000 zł</span>
<span class="css-rmqm02 eclomwz0">545 000 zł</span>
<span class="css-rmqm02 eclomwz0">589 000 zł</span>
<span class="css-rmqm02 eclomwz0">2 690 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">685 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">785 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 199 000 zł</span>
<span class="css-rmqm02 eclomwz0">719 900 zł</span>
<span class="css-rmqm02 eclomwz0">435 000 zł</span>
<span class="css-rmqm02 eclomwz0">338 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">911 125 zł</span>
<span class="css-rmqm02 eclomwz0">950 000 zł</span>
<span class="css-rmqm02 eclomwz0">754 000 zł</span>
<span class="css-rmqm02 eclomwz0">800 000 zł</span>
<span class="css-rmqm02 eclomwz0">599 000 zł</span>

In [6]:
import re

def clean(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext  = re.sub(cleanr, '', str(raw_html))
    cleantext= re.sub("[^0-9]", "", cleantext)
    return cleantext 

cleaned_price = []

for p in price:
    cleaned = clean(p)
    cleaned_price.append(cleaned)
    
cleaned_price

['549000',
 '650000',
 '2200000',
 '680000',
 '970000',
 '580000',
 '530000',
 '535000',
 '540000',
 '750000',
 '450000',
 '935000',
 '430000',
 '1629000',
 '525000',
 '519000',
 '1350000',
 '619000',
 '876541',
 '979447',
 '877323',
 '339000',
 '680000',
 '595000',
 '1175000',
 '1088000',
 '1029000',
 '920000',
 '518000',
 '818000',
 '719000',
 '810000',
 '1200000',
 '1600000',
 '640000',
 '1100000',
 '',
 '489000',
 '1230000']

In [7]:
[clean(p) for p in price]

['549000',
 '650000',
 '2200000',
 '680000',
 '970000',
 '580000',
 '530000',
 '535000',
 '540000',
 '750000',
 '450000',
 '935000',
 '430000',
 '1629000',
 '525000',
 '519000',
 '1350000',
 '619000',
 '876541',
 '979447',
 '877323',
 '339000',
 '680000',
 '595000',
 '1175000',
 '1088000',
 '1029000',
 '920000',
 '518000',
 '818000',
 '719000',
 '810000',
 '1200000',
 '1600000',
 '640000',
 '1100000',
 '',
 '489000',
 '1230000']

In [8]:
cleaned_rooms =[]

for r in rooms:
    cleaned = clean(r)
    cleaned_rooms.append(cleaned)
cleaned_rooms

['3',
 '3',
 '4',
 '2',
 '3',
 '2',
 '2',
 '2',
 '3',
 '3',
 '1',
 '4',
 '2',
 '4',
 '2',
 '2',
 '3',
 '2',
 '3',
 '4',
 '3',
 '1',
 '3',
 '2',
 '4',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 '3',
 '4',
 '4',
 '3',
 '2',
 '2',
 '1',
 '3']

In [9]:
space

[<span class="css-rmqm02 eclomwz0">51.9 m²</span>,
 <span class="css-rmqm02 eclomwz0">47 m²</span>,
 <span class="css-rmqm02 eclomwz0">95.46 m²</span>,
 <span class="css-rmqm02 eclomwz0">47 m²</span>,
 <span class="css-rmqm02 eclomwz0">60 m²</span>,
 <span class="css-rmqm02 eclomwz0">35.63 m²</span>,
 <span class="css-rmqm02 eclomwz0">43.65 m²</span>,
 <span class="css-rmqm02 eclomwz0">46 m²</span>,
 <span class="css-rmqm02 eclomwz0">47 m²</span>,
 <span class="css-rmqm02 eclomwz0">62 m²</span>,
 <span class="css-rmqm02 eclomwz0">32 m²</span>,
 <span class="css-rmqm02 eclomwz0">69.25 m²</span>,
 <span class="css-rmqm02 eclomwz0">49.56 m²</span>,
 <span class="css-rmqm02 eclomwz0">113.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">32 m²</span>,
 <span class="css-rmqm02 eclomwz0">49.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">68.49 m²</span>,
 <span class="css-rmqm02 eclomwz0">36.98 m²</span>,
 <span class="css-rmqm02 eclomwz0">78.45 m²</span>,
 <span class="css-rmqm02 eclomwz0">87.66 m²</span>,
 <span class="css-rmqm02 eclomwz0">78.52 m²</span>,
 <span class="css-rmqm02 eclomwz0">24.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">70 m²</span>,
 <span class="css-rmqm02 eclomwz0">50.6 m²</span>,
 <span class="css-rmqm02 eclomwz0">92 m²</span>,
 <span class="css-rmqm02 eclomwz0">91.06 m²</span>,
 <span class="css-rmqm02 eclomwz0">88 m²</span>,
 <span class="css-rmqm02 eclomwz0">85.86 m²</span>,
 <span class="css-rmqm02 eclomwz0">43.2 m²</span>,
 <span class="css-rmqm02 eclomwz0">65.39 m²</span>,
 <span class="css-rmqm02 eclomwz0">60.85 m²</span>,
 <span class="css-rmqm02 eclomwz0">62.2 m²</span>,
 <span class="css-rmqm02 eclomwz0">92 m²</span>,
 <span class="css-rmqm02 eclomwz0">97.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">58.4 m²</span>,
 <span class="css-rmqm02 eclomwz0">81.56 m²</span>,
 <span class="css-rmqm02 eclomwz0">35.95 m²</span>,
 <span class="css-rmqm02 eclomwz0">31.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">88.9 m²</span>]

In [10]:
cleaned_space =[]

for s in space:
    s = str(s)
    cleaned_space.append(s[34:40].replace('m','').replace('<',"").replace('²','').replace(' ',''))

cleaned_space

['51.9',
 '47',
 '95.46',
 '47',
 '60',
 '35.63',
 '43.65',
 '46',
 '47',
 '62',
 '32',
 '69.25',
 '49.56',
 '113.5',
 '32',
 '49.5',
 '68.49',
 '36.98',
 '78.45',
 '87.66',
 '78.52',
 '24.5',
 '70',
 '50.6',
 '92',
 '91.06',
 '88',
 '85.86',
 '43.2',
 '65.39',
 '60.85',
 '62.2',
 '92',
 '97.73',
 '58.4',
 '81.56',
 '35.95',
 '31.5',
 '88.9']

In [12]:
addreses

[<span class="css-17o293g es62z2j9">Warszawa, Białołęka, Tarchomin, ul. Pasłęcka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, Koncertowa 10</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście, Powiśle, ul. Juliana Smulikowskiego</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Praga-Południe, Grochów, ul. Siennicka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bielany, Wawrzyszew</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bemowo, Górce</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bielany, Piaski</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ochota, Rakowiec</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Praga-Południe, Gocław</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Targówek, Bródno</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Krokwi</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Czyste</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, ul. Sławińska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów, ul. Herbu Janina</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów, ul. Herbu Janina</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów, ul. Herbu Janina</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bielany, ul. Dorycka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursus, Dzieci Warszawy</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, Nowoursynowska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Włochy, Stawy</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Włochy, Obywatelska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursus, Skoroszewska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Praga-Południe, al. Jerzego Waszyngtona</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, Nowoursynowska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursus, Przy Forcie</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Targówek, Ponarska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Targówek, Obwodowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Cybernetyki</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Zygmunta Modzelewskiego</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów, Aleja Wilanowska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Włochy, al. Aleje Jerozolimskie</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Praga-Południe, ul. Grochowska 357</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Jana Kazimierza</span>]

In [18]:
list = []

for adr in addreses:
    a = str(adr)
    list.append(a.replace('<span class="css-17o293g es62z2j9">', '').replace('</span>', ''))

In [19]:
list

['Warszawa, Białołęka, Tarchomin, ul. Pasłęcka',
 'Warszawa, Ursynów, Koncertowa 10',
 'Warszawa, Śródmieście, Powiśle, ul. Juliana Smulikowskiego',
 'Warszawa, Praga-Południe, Grochów, ul. Siennicka',
 'Warszawa, Wilanów',
 'Warszawa, Wilanów',
 'Warszawa, Bielany, Wawrzyszew',
 'Warszawa, Bemowo, Górce',
 'Warszawa, Bielany, Piaski',
 'Warszawa, Ochota, Rakowiec',
 'Warszawa, Praga-Południe, Gocław',
 'Warszawa, Targówek, Bródno',
 'Warszawa, Białołęka',
 'Warszawa, Białołęka, ul. Krokwi',
 'Warszawa, Śródmieście',
 'Warszawa, Białołęka',
 'Warszawa, Wola, Czyste',
 'Warszawa, Wola, ul. Sławińska',
 'Warszawa, Wilanów, ul. Herbu Janina',
 'Warszawa, Wilanów, ul. Herbu Janina',
 'Warszawa, Wilanów, ul. Herbu Janina',
 'Warszawa, Bielany, ul. Dorycka',
 'Warszawa, Białołęka',
 'Warszawa, Ursus, Dzieci Warszawy',
 'Warszawa, Ursynów, Nowoursynowska',
 'Warszawa, Włochy, Stawy',
 'Warszawa, Włochy, Obywatelska',
 'Warszawa, Ursus, Skoroszewska',
 'Warszawa, Praga-Południe, al. Jerzego Waszyngtona',
 'Warszawa, Ursynów, Nowoursynowska',
 'Warszawa, Ursus, Przy Forcie',
 'Warszawa, Targówek, Ponarska',
 'Warszawa, Targówek, Obwodowa',
 'Warszawa, Mokotów, Cybernetyki',
 'Warszawa, Mokotów, Zygmunta Modzelewskiego',
 'Warszawa, Wilanów, Aleja Wilanowska',
 'Warszawa, Włochy, al. Aleje Jerozolimskie',
 'Warszawa, Praga-Południe, ul. Grochowska 357',
 'Warszawa, Wola, Jana Kazimierza']

In [20]:
df = pd.DataFrame({'Address': list, 'Price': cleaned_price, 'Space': cleaned_space, 'Rooms': cleaned_rooms})
df

                                              Address    Price  Space Rooms
0        Warszawa, Białołęka, Tarchomin, ul. Pasłęcka   549000   51.9     3
1                    Warszawa, Ursynów, Koncertowa 10   650000     47     3
2   Warszawa, Śródmieście, Powiśle, ul. Juliana Sm...  2200000  95.46     4
3    Warszawa, Praga-Południe, Grochów, ul. Siennicka   680000     47     2
4                                   Warszawa, Wilanów   970000     60     3
5                                   Warszawa, Wilanów   580000  35.63     2
6                       Warszawa, Bielany, Wawrzyszew   530000  43.65     2
7                             Warszawa, Bemowo, Górce   535000     46     2
8                           Warszawa, Bielany, Piaski   540000     47     3
9                          Warszawa, Ochota, Rakowiec   750000     62     3
10                   Warszawa, Praga-Południe, Gocław   450000     32     1
11                         Warszawa, Targówek, Bródno   935000  69.25     4
12                                Warszawa, Białołęka   430000  49.56     2
13                    Warszawa, Białołęka, ul. Krokwi  1629000  113.5     4
14                              Warszawa, Śródmieście   525000     32     2
15                                Warszawa, Białołęka   519000   49.5     2
16                             Warszawa, Wola, Czyste  1350000  68.49     3
17                      Warszawa, Wola, ul. Sławińska   619000  36.98     2
18                Warszawa, Wilanów, ul. Herbu Janina   876541  78.45     3
19                Warszawa, Wilanów, ul. Herbu Janina   979447  87.66     4
20                Warszawa, Wilanów, ul. Herbu Janina   877323  78.52     3
21                     Warszawa, Bielany, ul. Dorycka   339000   24.5     1
22                                Warszawa, Białołęka   680000     70     3
23                   Warszawa, Ursus, Dzieci Warszawy   595000   50.6     2
24                  Warszawa, Ursynów, Nowoursynowska  1175000     92     4
25                            Warszawa, Włochy, Stawy  1088000  91.06     3
26                      Warszawa, Włochy, Obywatelska  1029000     88     3
27                      Warszawa, Ursus, Skoroszewska   920000  85.86     3
28  Warszawa, Praga-Południe, al. Jerzego Waszyngtona   518000   43.2     3
29                  Warszawa, Ursynów, Nowoursynowska   818000  65.39     2
30                       Warszawa, Ursus, Przy Forcie   719000  60.85     2
31                       Warszawa, Targówek, Ponarska   810000   62.2     3
32                       Warszawa, Targówek, Obwodowa  1200000     92     4
33                     Warszawa, Mokotów, Cybernetyki  1600000  97.73     4
34         Warszawa, Mokotów, Zygmunta Modzelewskiego   640000   58.4     3
35                Warszawa, Wilanów, Aleja Wilanowska  1100000  81.56     2
36          Warszawa, Włochy, al. Aleje Jerozolimskie           35.95     2
37       Warszawa, Praga-Południe, ul. Grochowska 357   489000   31.5     1
38                    Warszawa, Wola, Jana Kazimierza  1230000   88.9     3

In [16]:
df.Address[2]

In [20]:
"https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa?page=" + str(1)

'https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa?page=1'

In [70]:
def cleaned_space(string):
    """_summary_

    Args:
        string (_type_): _description_

    Returns:
        _type_: _description_
    """
    s = str(string)
    return (s[34:40].replace('m','').replace('<',"").replace('²','').replace(' ','')) 

def clean_without_coma(raw_html):
   """clean numbers froim html 

   Args:
       raw_html (beautiful suoup object): _description_

   Returns:
       int: scrapped number
   """
   cleanr = re.compile('<.*?>')
   cleantext  = re.sub(cleanr, '', str(raw_html))
   cleantext= re.sub("[^0-9]", "", cleantext)
   return cleantext

In [72]:
addreses=[] #List of flats adresses
out_prices=[] #List house prices
out_space=[] #List of house space
out_rooms=[] #List of number of rooms in flat

page_url = "https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa?page="

for number in range(10):
    page = requests.get(page_url +str(number))
    content = page.content
    soup = BeautifulSoup(content, features='html.parser')

    spans = soup.find_all("span", class_="css-rmqm02 eclomwz0")
    addres = soup.find_all("span", class_="css-17o293g es62z2j9")
    price = spans[::4]
    rooms = spans[2::4]
    space = spans[3::4]

    clean_price = [clean(p) for p in price]
    clean_rooms = [clean(r) for r in rooms]
    clean_space = [cleaned_space(s) for s in space]

    addreses += addres   
    out_prices += clean_price
    out_space += clean_space
    out_rooms += clean_rooms

In [71]:
cleaned_space(space[0])

'37.5'

In [52]:
space

[<span class="css-rmqm02 eclomwz0">56 m²</span>,
 <span class="css-rmqm02 eclomwz0">27.6 m²</span>,
 <span class="css-rmqm02 eclomwz0">46.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">62.77 m²</span>,
 <span class="css-rmqm02 eclomwz0">36.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">73 m²</span>,
 <span class="css-rmqm02 eclomwz0">63.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">88.42 m²</span>,
 <span class="css-rmqm02 eclomwz0">75.59 m²</span>,
 <span class="css-rmqm02 eclomwz0">67.69 m²</span>,
 <span class="css-rmqm02 eclomwz0">46 m²</span>,
 <span class="css-rmqm02 eclomwz0">50 m²</span>,
 <span class="css-rmqm02 eclomwz0">40.35 m²</span>,
 <span class="css-rmqm02 eclomwz0">87.09 m²</span>,
 <span class="css-rmqm02 eclomwz0">78.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">71.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">64.3 m²</span>,
 <span class="css-rmqm02 eclomwz0">66.99 m²</span>,
 <span class="css-rmqm02 eclomwz0">131 m²</span>,
 <span class="css-rmqm02 eclomwz0">82.62 m²</span>,
 <span class="css-rmqm02 eclomwz0">83.66 m²</span>,
 <span class="css-rmqm02 eclomwz0">35.39 m²</span>,
 <span class="css-rmqm02 eclomwz0">55.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">78.63 m²</span>,
 <span class="css-rmqm02 eclomwz0">42.37 m²</span>,
 <span class="css-rmqm02 eclomwz0">71.2 m²</span>,
 <span class="css-rmqm02 eclomwz0">104.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">40 m²</span>,
 <span class="css-rmqm02 eclomwz0">25 m²</span>,
 <span class="css-rmqm02 eclomwz0">28 m²</span>,
 <span class="css-rmqm02 eclomwz0">49.25 m²</span>,
 <span class="css-rmqm02 eclomwz0">77.08 m²</span>,
 <span class="css-rmqm02 eclomwz0">69.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">88.59 m²</span>,
 <span class="css-rmqm02 eclomwz0">64.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">38.48 m²</span>,
 <span class="css-rmqm02 eclomwz0">50 m²</span>,
 <span class="css-rmqm02 eclomwz0">32.26 m²</span>,
 <span class="css-rmqm02 eclomwz0">51 m²</span>]

In [73]:
clean_space

['24.5',
 '56.85',
 '69',
 '82.62',
 '41.5',
 '37.46',
 '41.55',
 '41.97',
 '63.13',
 '38.46',
 '70.62',
 '74.54',
 '79.57',
 '57.8',
 '21',
 '71',
 '92.9',
 '50.4',
 '62.77',
 '36.5',
 '73',
 '63.5',
 '88.42',
 '75.59',
 '67.69',
 '46',
 '50',
 '40.35',
 '87.09',
 '78.73',
 '71.73',
 '64.3',
 '66.99',
 '131',
 '82.62',
 '83.66',
 '35.39',
 '55.5',
 '78.63']

In [74]:
df = pd.DataFrame({'Address': addreses, 'Price': out_prices, 'Space': out_space, 'Rooms': out_rooms})
df.to_csv('listings.csv', index=False, encoding='utf-8')

In [75]:
df

                                               Address    Price  Space Rooms
0                [Warszawa, Wola, ul. Juliusza Ordona]   540000   26.2     1
1         [Warszawa, Praga-Północ, ul. Stefana Okrzei]   649000     38     2
2    [Warszawa, Mokotów, Pole Mokotowskie, ul. Biał...  2775000  123.7     4
3                [Warszawa, Bemowo, Jelonki, Karabeli]   590000   45.8     2
4               [Warszawa, Praga-Południe, Saska Kępa]   559000     47     3
..                                                 ...      ...    ...   ...
385              [Warszawa, Mokotów, ul. Bluszczańska]  1231038  82.62     4
386              [Warszawa, Wilanów, ul. Herbu Janina]   952376  83.66     4
387                 [Warszawa, Bemowo, ul. Babimojska]           35.39     2
388                 [Warszawa, Bielany, Stare Bielany]   685000   55.5     3
389              [Warszawa, Wilanów, ul. Herbu Janina]   921328  78.63     3

[390 rows x 4 columns]