In [3]:
import pandas as pd
import numpy as np

import numpy as np

import matplotlib as plt
import seaborn as sns

## Warsaw real estate market analysis

* [Dataset overwiew](#Dataset-overwiew)
* [Price influencing factors](#Price-influencing-factors)
* [Śródmieście analysis](#Śródmieście-analysis)
* [Summary](#Summary)

### Dataset overwiew

In [19]:
data = pd.read_csv('data/data_clean_removed.csv',usecols= 
['district','Price', 'Space','Rooms','Market','Year','elevator','Parking place','balkon','taras','ogródek','district','street','level','max_level'])

data['district'] =data['district'].str.replace(" ","")
data['Year'] = data['Year'].astype(str) 
data['Year'] = data['Year'].str.slice(0,-2)
data['Price'] = data['Price'].astype(float)
data['Space'] = data['Space'].astype(float)

In [20]:
data.head()

,Price,Space,Rooms,Market,Year,elevator,Parking place,balkon,taras,ogródek,district,street,level,max_level
0,4000000.0,560.0,4,wtórny,20,1,1,1,1,1,Wawer,Patriotów,3,3
1,4000000.0,560.0,4,wtórny,20,1,1,1,1,1,Wawer,Patriotów,3,3
2,21350100.0,487.0,10,wtórny,20,1,1,0,0,0,Śródmieście,Elektryczna,6,6
3,19900000.0,487.0,6,wtórny,20,1,1,0,0,0,Mokotów,Cybulskiego,5,5
4,795900.0,445.0,2,pierwotny,20,1,1,0,0,0,Praga-Południe,Gocław,4,8

### Price influencing factors

### Śródmieście analysis

### Summary